<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>mostrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let registro of registros">
    <ion-card-header>
      <ion-card-title>{{ registro.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Email: {{ registro.email }}</p>
      <p>Edad: {{ registro.edad }}</p>
      <p>Fecha de nacimiento: {{ registro.dob }}</p>
      <p>Género: {{ registro.genero }}</p>
      <p>País: {{ registro.pais }}</p>
      <p>Newsletter: {{ registro.recibe_newsletter }}</p>
      <p>Tecnologías: {{ registro.tecnologias }}</p>
      <p>Observaciones: {{ registro.observaciones }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>
